.form-container__inside {
    padding: 16px;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: none;
    width: 70%;
    margin-bottom: 16px;
    .title {
      text-align: center;
    }
  
    .inside__container {
      display: flex;
      flex-direction: column;
      border: 1px solid #c8c8c8;
      padding: 30px;
      border-radius: 5px;
      .input-form{
        margin: 10px 0px;
      }
      .input-form mat-form-field + mat-form-field {
        margin-left: 8px;
      }
      
      mat-form-field {
        width: 100%;
      }
  
      .two-columns {
        display: flex;
        gap: 5px;
      }
    }
  }
  
  .form-container__buttons {
      padding-top: 16px;
      width: calc(70% + 10px);
      margin: 0 auto 16px auto;
      button{
        width: 100%;
      }
    }


